#Trow {
  /* background-color: red; */
  position: absolute;
  margin-top: -3em;
}

#Tcolumn {
  background-color: silver;
  border-radius: 1em;
  float: left;
  width: 15em;
  height: 25em;
  margin-left: .8em;
  margin-top: 4em;
}

.TquextionMark {
  background-color: lightblue;
  position: absolute;
  margin-left: .5em;
  margin-top: -.2em;
  /* margin: auto; */
  font-size: 4em;
  border: 3px solid black;
  width: 2.5em;
  height: 3.3em;
}

.info {
  /* background-color: red; */
  margin-top: 9.5em;
  font-size: 1.5em;
  height: 4.7em;
  padding: .12em;
  overflow: scroll;;
}


.shuffle {
  background-color: #4A4A4A;
  position: absolute;
  color: #FFFFFF;
  border-radius: .5em;
  margin-top: 10.7em;
  margin-left: -3.3em;
  width: 7em;
  height: 1.5em;
  padding: .2em;
  /* height: 15em; */
  font-size: 2.5em;
}

.fillIn {
  /* background-color: red; */
  position: absolute;
  padding: 1em;
  margin-top: 34em;
  margin-left: -20em;
  width: 40em;
  height: 10em;
}

.ideate {
  background-color: #4A4A4A;
  position: absolute;
  color: #FFFFFF;
  border-radius: .5em;
  margin-top: 18.3em;
  margin-left: -5em;
  width: 5em;
  height: 1.5em;
  padding: .2em;
  /* height: 15em; */
  font-size: 2.5em;
}

.back2team {
  background-color: #4A4A4A;
  position: absolute;
  color: #FFFFFF;
  border-radius: .5em;
  margin-top: 18.3em;
  margin-left: 1em;
  width: 5em;
  height: 1.5em;
  padding: .2em;
  /* height: 15em; */
  font-size: 2.5em;
}
