#Trow {
  /* background-color: red; */
  position: absolute;
  margin-top: -2em;
}

#Tcolumn {
  background-color: #aaa;
  float: left;
  width: 15em;
  height: 30em;
  margin-left: .8em;
  margin-top: 4em;
}

.TquextionMark {
  position: absolute;
  margin-left: .2em;
  margin-top: .2em;
  font-size: 5em;
  border: 3px solid black;
  width: 2.5em;
  height: 3.3em;
}

.info {
  /* background-color: red; */
  margin-top: 13em;
  font-size: 1.5em;
  height: 4.7em;
  padding: .12em;
  overflow: scroll;;
}


.shuffle {
  background-color: #4A4A4A;
  position: absolute;
  color: #FFFFFF;
  border-radius: .5em;
  margin-top: 13.5em;
  margin-left: -3.3em;
  width: 7em;
  height: 1.5em;
  padding: .2em;
  /* height: 15em; */
  font-size: 2.5em;
}

.fillIn {
  /* background-color: red; */
  position: absolute;
  padding: 1em;
  margin-top: 40em;
  margin-left: -20em;
  width: 40em;
  height: 10em;
}

.ideate {
  background-color: #4A4A4A;
  position: absolute;
  color: #FFFFFF;
  border-radius: .5em;
  margin-top: 21em;
  margin-left: -2em;
  width: 5em;
  height: 1.5em;
  padding: .2em;
  /* height: 15em; */
  font-size: 2.5em;
}
