header {
  /* background-color: red; */
  position: absolute;
  width: 32em;
  margin: auto;
  margin-top: -1em;
  font-size: 1.5em;
}

#box0 {
  background-color: silver;
  position: absolute;
  border: 1px solid black;
  width: 45em;
  height: 10em;
  margin-top: 9.5em;
  margin-left: 1.5em;
}


#box {
  background-color: silver;
  position: absolute;
  border: 1px solid black;
  width: 45em;
  height: 10em;
  margin-top: 20em;
  margin-left: 1.5em;
}

#box2 {
  background-color: silver;
  position: absolute;
  border: 1px solid black;
  width: 45em;
  height: 10em;
  margin-top: 30.5em;
  margin-left: 1.5em;
}

#box3 {
  background-color: silver;
  position: absolute;
  border: 1px solid black;
  width: 45em;
  height: 10em;
  margin-top: 41em;
  margin-left: 1.5em;
}

.astro {
  height: 10em;
  position: absolute;
  margin-left: -22.5em;
}

.innerBox {
  /* background-color: red; */
  position: absolute;
  margin-left: 2em;
}

.check {
  /* position: absolute; */
  margin-left: 57em;
  margin-top: 20em;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    float: right;
    margin-top: -3.5em;
    width:50px;
    height:50px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: lightblue;
}

.vote {
  background-color: #4A4A4A;
  position: absolute;
  color: #FFFFFF;
  border-radius: .5em;
  margin-top: 25.8em;
  margin-left: -11.1em;
  width: 10em;
  height: 1.5em;
  padding: .2em;
  /* height: 15em; */
  font-size: 2em;
}

.back2draw {
  background-color: #4A4A4A;
  position: absolute;
  color: #FFFFFF;
  border-radius: .5em;
  margin-top: 25.8em;
  margin-left: 1.3em;
  width: 10em;
  height: 1.5em;
  padding: .2em;
  /* height: 15em; */
  font-size: 2em;
}
